body {
           
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1600px;
}

.container {
    margin: 20px;
}
.header {
    font-size: 24px;
    margin-bottom: 20px;
}
.grid {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.card {
    flex: 1;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid #ccc;
}
.card img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-size: 18px;
    margin-top: 10px;
}
.see-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.container1 {
    width: 28%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left:50px;
}
